name: Deploy BaseRep Protocol

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          # On retire 'proxy_ssh_common_args' qui cause l'erreur
          script: |
            cd /home/vps/baserep-protocol
            git pull origin main
            npm install
            npm run build
            pm2 restart baserep || pm2 start npm --name "baserep" -- start
